    <div class='nested-fields'>
      <%= f.inputs do %>
        <%= f.input :author_type %>
        <%= f.input :author %>
        <%= link_to_remove_association "Fjalægja höfund", f %>
      <% end %>
    </div>
