<% content_for :meta do %>
  <title>Bókatíðindi - Eldri tölublöð og árgangar</title>
<% end %>

<main role="main" aria-label="Bækur">

  <div class="container-md">

    <div class="row">
      <div class="col-12 mb-5">
        <h1 class="mb-3">Eldri tölublöð og árgangar Bókatíðinda</h1>
        <p>
          Hér má finna eldri útgáfur og árganga Bókatíðinda.
        </p>
        <p>
          Félag íslenskra bókaútgefenda hefur reynt að safna öllum útgáfunum
          ritsins og tekur fagnandi á móti öllum eldri Bókaskrám eða Bókatíðindi
          sem gefin voru út fram til ársins 1986.
        </p>
      </div>
    </div>

    <div class="row">
      <% @editions.each do |edition| %>
        <div class="col-12 col-sm-6 mb-4">
          <div class="older-edition p-4">
          <div class="row">
            <div class="col-7 content order-1">
              <h2 class="title mb-4"><%= edition.title %></h2>
              <ul class="list-inline mt-2 button-list">
                <% if edition.pdf_file.attached? %>
                <li class="list-item mb-2">
                  <a
                    class="btn btn-sm btn-primary"
                    href="<%= edition.pdf_file_url %>"
                  >
                    PDF-skrá
                  </a>
                </li>
                <% end %>
              </ul>
            </div>
            <div class="col-5 order-0">
              <% if edition.cover_image.attached? %>
              <img
                class="w-100 img-fluid"
                src="<%= edition.cover_image_url[@image_format] %>"
                srcset="<%= edition.cover_image_srcsets[@image_format] %>"
                sizes="(min-resolution: 200dpi 260px), 150px"
              />
              <% end %>
            </div>
          </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>

  </div>

</main>