<p>Athugaðu að þetta er sjálfvirkur tölvupóstur og ekki er tekið við svörum á þessu tölvupóstfangi.</p>

<p>Hægt er að hafa samband við Félag íslenskra bókaútgefenda í tölvupósti á <a href="mailto:fibut@fibut.is">fibut@fibut.is</a> eða í síma <a href="tel:+3545118020">511-8020</a>.</p>

<img src="https://cdn.bokatidindi.is/images/fibut_logo.jpg" alt="Félag íslenskra bókaútgefenda" />