@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Breytur hér

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$lora: 'Lora', serif;
$montserrat: 'Montserrat', sans-serif;

$font-family-base: $montserrat;
$headings-font-family: $lora;
$font-weight-base: 500;
$btn-font-weight: $font-weight-bold;

$theme-colors: (
  "primary": #5f2835,
  "darkgrey": #333,
);

$body-bg: #ece8e1;
$body-color: theme-color("darkgrey");
$link-color: #5f2835;
$link-hover-color: #30131a;

$pagination-color: $link-color;
$pagination-active-bg: $link-color;
$pagination-active-border-color: $link-hover-color;
$pagination-hover-color: $link-hover-color;

$dropdown-min-width: 20rem;

@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/print";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/badge";

// Allt annað hér

.book {

  hgroup {
    word-break: break-word;
  }

  .title { font-weight: $font-weight-bold; }
  .pre-title, .post-title { font-size: 1.2em; }

  .book-column-container {
    background-color: $white;
    border-radius: 5px;
  }

  .book-authors, .book-meta-list {
    font-size: $small-font-size;
    strong {
      font-family: $lora;
    }
    a {
      font-weight: $font-weight-bold;
    }
  }

  .book-description {
    font-size: $small-font-size;
  }
}

.book-single {
  .title { font-weight: $font-weight-bold; font-size: 2.5em; }
  .pre-title, .post-title { font-size: 1.8em; }

  .book-description {
    font-size: $font-size-base;
  }
}
