@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Breytur hér

@import "./fonts.scss";

$lora: 'Lora', serif;
$montserrat: 'Montserrat', sans-serif;

$font-family-base: $montserrat;
$headings-font-family: $lora;
$font-weight-base: 500;
$btn-font-weight: $font-weight-bold;

$font-size-base: 1.2rem; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.55 ;

$theme-colors: (
  "primary": #37171f,
  "darkgrey": #333,
  "lightgrey": #ece8e1,
);

$body-bg: #ece8e1;
$footer-bg: theme-color("primary");
$body-color: theme-color("darkgrey");
$link-color: #4a242e;
$link-hover-color: #30131a;

$header-link-color: theme-color("lightgrey");

$pagination-color: $link-color;
$pagination-active-bg: $link-color;
$pagination-active-border-color: $link-hover-color;
$pagination-hover-color: $link-hover-color;

$dropdown-min-width: 20rem;

$grid-breakpoints: (
  xs:   0,
  sm:   576px,
  md:   670px,
  lg:   992px,
  xl:   1200px,
  xxl:  1690px
) ;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm:   540px,
  md:   622px,
  lg:   960px,
  xl:   1140px,
  xxl:  1630px
) ;

@include _assert-ascending($container-max-widths, "$container-max-widths");

@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/print";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/badge";

// Allt annað hér

body {
  display: grid;
  min-height: 100vh;
}

main {
  min-height: calc(100vh - 450px);
}

#mobile-menu {
  background-color: theme-color('darkgrey');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 1000;
  a {
    color: theme-color('lightgrey');
    text-decoration: underline;
  }
  strong {
    color: $white;
  }
  .nav-list {
    margin-top: 120px;
  }
  .sub-nav-list {
    margin-bottom: 1.2em;
  }
}

#mobile-menu-close-button {
  position: fixed;
  right: 30px;
  top: 30px;
}

.book {

  hgroup {
    word-break: break-word;
  }

  .title {
    font-weight: $font-weight-bold;
    font-size: 1.2em;
  }
  .book-description {
    font-size: 0.8em;
  }
  ul li {
    font-size: 0.8em;
  }
  .pre-title, .post-title { font-size: 0.8em; }

  .book-column-container {
    background-color: $white;
    border-radius: 5px;
  }

  .book-authors, .book-meta-list {
    strong::after {
      content: ':'
    }
    a {
      font-weight: $font-weight-bold;
    }
  }

  .content-column {
    padding-bottom: calc(40px + 1rem)
  }

  .more-button {
    position: absolute;
    bottom: 0;
    right: 1rem;
  }
}

.book-single {
  .title { font-weight: $font-weight-bold; font-size: 2.5em; }
  .pre-title, .post-title { font-size: 1.8em; }

  .book-meta-list {
    margin-top: 3rem;
  }
}

.welcome-content {
  background-color: $white;
  border-radius: 5px;
  height: 100%;
  h2 {
    font-size: $font-size-lg;
    border-bottom: 2px solid theme-color("lightgrey");
  }
}

.page {
  h1 {
    font-weight: $font-weight-bold;
  }
}

.logo-list{
  text-align: center;
  figure {
    width: calc(20% - 80px);
    max-width: 150px;
    margin: 33px;
    transition: all 0.1s ease-in-out;
  }
  figure:hover {
    transform: scale(1.05);
  }
}

@include media-breakpoint-down(lg) {
  .logo-list figure {
    width: calc(20% - 66px);
    margin: 33px 15px;
  }
}

@include media-breakpoint-down(md) {
  .logo-list figure {
    display: block !important;
    width: 100%;
    margin: 33px auto;
  }
}

.footer-container {
  grid-row: 3;
  background-color: $footer-bg;
  color: $white;
  h2, h3 {
    font-size: $font-size-lg;
    color: $white;
    font-weight: $font-weight-bold;
  }
  li {
    color: $white;
  }
  a {
    color: $body-bg;
    font-weight: $font-weight-bold;
  }  
}

// Header
header {
  background-color: theme-color("primary");
  .nav-link {
    color: $header-link-color;
  }
  .nav-link:hover {
    color: $white;
    text-decoration: underline;
  }
  .dropdown-menu {
    .nav-link {
      color: $link-color;
    }
    .nav-link:hover {
      color: $link-hover-color;
      text-decoration: underline;
    }  
  }
}

