<main role="main" aria-label="Bækur">

  <p id="notice"><%= notice %></p>

  <div class="container-fluid">

    <div class="row my-5">    
      <section class="welcome col-xl-3 col-sm-6">
        <div class="welcome-column-container m-2 p-2 pt-md-5 pb-4">
          <div class="content-column">
            <h2 class="ml-4">Barnabækur</h2>
            <hr>
            <ul class="list-unstyled ml-4">
              <li class="my-2"><a href="#">Myndskreyttar 0-6 ára</a></li>
              <li class="my-2"><a href="#">Skáldverk</a></li>
              <li class="my-2"><a href="#">Fræðibækur/handbækur</a></li>
              <li class="my-2"><a href="#">Ungmennabækur</a></li>
            </ul>
          </div>
        </div> 
      </section>

      <section class="welcome col-xl-3 col-sm-6">
        <div class="welcome-column-container m-2 p-2 pt-md-5 pb-4">
          <div class="content-column">
            <h2 class="ml-4">Skáldverk</h2>
            <hr>
            <ul class="list-unstyled ml-4">
              <li class="my-2"><a href="#">Íslensk skáldverk</a></li>
              <li class="my-2"><a href="#">Þýdd skáldverk</a></li>
              <li class="my-2"><a href="#">Ljóð og leikrit</a></li>
              <li class="my-2"><a href="#">Fræðibækur</a></li>
            </ul>
          </div>
        </div> 
      </section>
      
      <section class="welcome col-xl-3 col-sm-6">
        <div class="welcome-column-container m-2 p-2 pt-md-5 pb-4">
          <div class="content-column">
            <h2 class="ml-4">Fræðibækur</h2>
            <hr>
            <ul class="list-unstyled ml-4">
              <li class="my-2"><a href="#">Listir og ljósmyndir</a></li>
              <li class="my-2"><a href="#">Matur</a></li>
              <li class="my-2"><a href="#">Saga, ættfræði og héraðslýsingar</a></li>
              <li class="my-2"><a href="#">Hannyrðir, íþróttir og útivist</a></li>
            </ul>
          </div>
        </div> 
      </section>
    
      <section class="welcome col-xl-3 col-sm-6">
        <div class="welcome-column-container m-2 p-2 pt-md-5 pb-4">
          <div class="content-column">
            <h2 class="ml-4">Ævisögur</h2>
            <hr>
            <ul class="list-unstyled ml-4">
              <li class="my-2"><a href="#">Ævisögur</a></li>
            </ul>
          </div>
        </div> 
     </section>
    </div>
  </div>

</main>


