<main role="main" aria-label="Bækur">

  <p id="notice"><%= notice %></p>

  <div class="container-fluid">

    <div class="row">

      <div class="col-12 pl-5 pr-5">

        <h1>Welcome#index</h1>
        <p>Find me in app/views/welcome/index.html.erb</p>

      </div>

    </div>

  </div>

</main>


