<% content_for :meta do %>
  <title>Bókatíðindi - Köku- og friðhelgisstefna</title>
<% end %>

<main role="main" class="page mt-5">

<div class="container-md">

<div class="row">

  <div class="col-12">
    <h1 class="pb-3">Köku- og friðhelgisstefna</h1>

    <p>
      Bókatíðindi safna engum persónugreinanlegum upplýsingum um lesendur sína.
      Einu gögnin sem er safnað á þessari vefsíðu er hversu oft einstaka síður
      eru skoðaðar, hversu lengi og hvaða tækni er notuð við að sækja síðurnar
      (upplýsingar um vafra og skjástærð). Þau gögn er ekki hægt að rekja til
      lesenda. Við notum ekki tengingar við samfélagsmiðla, eða álíka til
      að greina hver lesandi er eða sjá hvort sami lesandi kemur aftur.
    </p>

    <p>
      Bókatíðindi notast við efnisveitunet á vegum jsDelivr (rekið af Prospect
      One) og eigið efnisveitunet sem hýst er hjá Google Cloud Services. Hvorugt
      þeirra safnar persónugreinanlegum upplýsingum um notendur.
    </p>

    <p>
      Fyrir almenna lesendur Bókatíðinda er eingöngu vistuð ein kaka í vafra,
      <code>_bokatidindi_session</code>, sem eingöngu er notuð til að halda utan um
      upplýsingar um innskráða notendur í umsjónarkerfi Bókatíðinda.
    </p>

  </div>

</div>

</div>

</main>