<% content_for :meta do %>
  <title>Bókatíðindi - Köku- og friðhelgisstefna</title>
<% end %>

<main role="main" class="page">

<div class="container-fluid">

<div class="row">

  <div class="col-10 col-xl-5 offset-xl-1 pl-5 pb-3">
    <h1>Köku- og friðhelgisstefna</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Vulputate odio ut enim
      blandit. Dui nunc mattis enim ut tellus elementum. Suspendisse faucibus
      interdum posuere lorem.
    </p>

  </div>

</div>

</div>

</main>