<% content_for :meta do %>
  <title>Bókatíðindi - Köku- og friðhelgisstefna</title>
<% end %>

<main class="page pb-5">

<div class="container-xl">

<div class="row">

  <div class="col-12 px-5 pb-3 pt-5 pb-xl-3">
    <h1><%= @page_content[:title] if @page_content %></h1>
  </div>

  <div class="col-12 page-container col-12 px-5 py-xl-5">
    <%= markdown(@page_content.body) if @page_content %>
  </div>

</div>

</div>

</main>