<% content_for :meta do %>
  <title>Bókatíðindi - Um Bókatíðindi 2021</title>
<% end %>

<main role="main" class="page">

  <div class="container-fluid">

  <div class="row">
    <div class="col-12 col-xl-10 offset-xl-1 px-5 pb-5">
      <h1>Um Bókatíðindi</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-5 offset-xl-1 px-5 pb-3">
      <h2>Bókatíðindi 2021</h2>
      <table class="table table-sm">
        <tbody>
          <tr>
            <th class="py-2 pr-3 align-top text-right" scope="row">Útgefandi</th>
            <td class="py-2 align-top">
              Félag íslenskra bókaútgefenda<br>
              Barónsstíg 5<br>
              101 Reykjavík<br>
              Sími 511-8020<br>
              <a href="https://www.fibut.is/" target="_blank">www.fibut.is</a>
            </td>
          </tr>
          <tr>
            <th class="py-2 pr-3 align-top text-right" scope="row">Hönnun kápu</th>
            <td class="py-2">Halldór Baldursson og Ámundi Sigurðsson</td>
          </tr>
          <tr>
            <th class="py-2 pr-3 align-top text-right" scope="row">Ábyrgðarmaður</th>
            <td class="py-2 align-top">Benedikt Kristjánsson</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-6 col-lg-3 col-xl-2 offset-xl-1 px-5 text-center">
      <a
        href="<%= asset_url 'https://cdn.bokatidindi.is/images/bokatindi2021.pdf' %>"
      >
        <img
          class="img-fluid"
          src="https://cdn.bokatidindi.is/images/forsida2021.<%= @image_format %>"
          alt="Forsíða Bókatíðinda 2021. Á myndinni er Grýla sitjandi á grænum ruggustól og les bók fyrir óþægu börnin og Jólaköttinn."
        >
        Sækja PDF-útgáfu
      </a>
    </div>
  </div>

  <div class="row">

    <article class="col-12 col-sm-8 col-md-10 col-xl-8 offset-xl-1 px-5 pt-5 pb-3">
      <h2>
        Kæri bókaunnandi,
      </h2>

      <p>
        Sú hefð að gefa bækur til jólagjafa má rekja til áranna eftir síðari
        heimstyrjöld og eftir að hafa fengið sjálfstæði okkar frá Dönum árið 1944.
        Á þessum árum var efnhagsástandið hér á landi ekki burðugt enda kreppa
        eftirstríðsáranna ríkjandi hér sem og í öðrum löndum. Fyrstu ár nýfengins
        sjálfstæðis voru því ekki auðveld fyrir hið unga lýðveldi sem stóð nú
        frammi fyrir afar flóknum og krefjandi aðstæðum. Þá dugði ekki að grípa til
        neinna vettlingataka þannig að efnahagsástandið færi ekki úr böndunum.
        Mjög umfangsmiklar aðgerðir reyndust nauðsynlegar til takmarka innflutning
        á margskonar vörum. Það var gert með víðtækum kvótum og innflutningsbönnum
        sem sett voru á fjölmargar neysluvörur. Þetta takmarkaði mjög það úrval af
        gjafavöru sem landsmönnum hafði áður staðið til boða m.a. til jólagjafa.
        En þar sem pappír var utan þessara hafta þá var hann fluttur inn til að
        framleiða bækur sem mjög fljótt urðu vinsælar jólagjafir. Þannig varð
        útgáfa íslenskra bóka á þessum árstíma tákn um hugvit smáþjóðar sem bæði
        styrkti sjálfsmynd sína á erfiðum tímum og skóp líka einstaka hefð sem
        hvergi á sér hliðstæðu í heiminum.
      </p>

      <p>
        Ekki þarf svo að staldra lengi við lestur þessara Bókatíðinda til að sjá
        að nú sem aldrei fyrr er íslensk bókaútgáfa í miklum blóma. Úrvalið hefur
        sjaldan verið fjölbreyttara og aldrei fyrr hafa jafn margar nýjar raf- og
        hljóðbækur komið út. Útgáfa nýrra íslenskra skáldverka er líka í sögulegu
        hámarki og matreiðslubókum fjölgar á milli ára, svo fátt eitt sé nefnt.
        Allir ættu því að finna bækur við sitt hæfi til að njóta, lesa, hlusta,
        tala um, deila og gefa.
      </p>

      <p>
        Í ár kynnum við nýja og bætta þjónustu fyrir alla unnendur íslenskra bóka
        því samhliða hinni hefðbundnu prentuðu útgáfu Bókatíðinda kynnum við nýja
        og notendavæna rafræna útgáfu á slóðinni www.bokatidindi.is
      </p>

      <p>
        Gleðileg einstök íslensk bókajól!
      </p>

      <p>
        Heiðar Ingi Svansson,<br>
        formaður Félags íslenskra bókaútgefenda.
      </p>
    </article>

    </div>
  </div>
</main>