<% content_for :meta do %>
  <title>Bókatíðindi - Um Bókatíðindi 2021</title>
<% end %>

<main role="main" class="page">

  <div class="container-fluid">

    <div class="row">
      <div class="col-12 col-xl-10 px-5 pb-5">
        <h1><%= @current_edition.title %></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-9 px-5">
        <table class="table table-sm">
          <tbody>
            <tr>
              <th class="py-2 pr-3 align-top text-right" scope="row">Útgefandi</th>
              <td class="py-2 align-top">
                Félag íslenskra bókaútgefenda<br>
                Barónsstíg 5<br>
                101 Reykjavík<br>
                Sími 511-8020<br>
                <a href="https://www.fibut.is/" target="_blank">www.fibut.is</a>
              </td>
            </tr>
            <tr>
              <th class="py-2 pr-3 align-top text-right" scope="row">Ábyrgðarmaður</th>
              <td class="py-2 align-top">Benedikt Kristjánsson</td>
            </tr>
          </tbody>
        </table>
        <p>Þeir sem vilja skrá nýja titla inn á vefinn eru beðnir um að hafa samband við félagið.</p>
      </div>
      <div class="col-3 px-5">
        <% if @current_edition.cover_image.attached? %>
          <a href="<%= @current_edition.pdf_file_url %>">
            <img src="<%= @current_edition.cover_image_url %>" class="w-100 img-fluid">
            Sækja PDF-útgáfu Bókatíðinda
        </a>
        <% end %>
      </div>
    </div>
  </div>
</main>