<hgroup
  id="book-<%= local_assigns[:book].id %>-hgroup"
  class="pb-2 pt-4 pt-md-5 block"
  <% if current_page?(controller: 'books', action: 'index') %>
  role="region-heading"
  <% end %>
>

  <h1 class="h2 title mb-0">
    <% unless local_assigns[:book].pre_title.empty? %>
    <span class="pre-title"><%= local_assigns[:book].pre_title %></span>
    <% end %>
    <%= local_assigns[:book].title_hypenated %>
  </h1>

  <% unless local_assigns[:book].post_title.empty? %>
    <p class="post-title h3 pt-2 mb-0"><%= raw local_assigns[:book].post_title %></p>
  <% end %>
</hgroup>
