<div class="row">
  <div class="col-12 pb-3">
    <h1>
      <% unless params[:publisher] || params[:category] || params[:author] || params[:search] %>
        Allar bækur
      <% end %>
      <% unless params[:author].nil? %>
        Höfundur: <%= @author.name %>
      <% end %>
      <% unless params[:publisher].nil? %>
        Útgefandi: <%= @publisher.name %>
      <% end %>
      <% unless params[:category].nil? %>
        <%= @category.name_with_group %>
      <% end %>
      <% unless params[:search].nil? %>
        Leitarorð: <%= params[:search] %>
      <% end %>
  </div>
</div>