<div class="row">
  <div class="col-12 pb-3">
    <% unless params[:publisher] || params[:category] || params[:author] || params[:search] %>
      <h1>Allar bækur</h1>
    <% else %>
      <h1>Niðurstöður</h1>
    <ul class="d-block p-0">
      <% unless params[:author].nil? %>
      <li class="d-inline-block badge badge-darkgrey">
        <%= @author.name %>
      </li>
      <% end %>
      <% unless params[:publisher].nil? %>
      <li class="d-inline-block badge badge-darkgrey">
        <%= @publisher.name %>
      </li>
      <% end %>
      <% unless params[:category].nil? %>
      <li class="d-inline-block badge badge-darkgrey">
        <%= @category.name_with_group %>
      </li>
      <% end %>
      <% unless params[:search].nil? %>
      <li class="d-inline-block badge badge-darkgrey">
        <%= params[:search] %>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>