@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

// Breytur hér

@import "./fonts.scss";

$lora: 'Lora', serif;
$montserrat: 'Montserrat', sans-serif;

$font-family-base: $montserrat;
$headings-font-family: $lora;
$font-weight-base: 500;
$btn-font-weight: $font-weight-bold;
$btn-disabled-opacity: .8;

$font-size-base: 1.2rem; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.55 ;

$theme-colors: (
  "primary": #37171f,
  "darkgrey": #333,
  "lightgrey": #ece8e1,
);

$body-bg: #ece8e1;
$footer-bg: theme-color("primary");
$body-color: theme-color("darkgrey");
$link-color: #4a242e;
$link-hover-color: #30131a;

$header-link-color: theme-color("lightgrey");

$pagination-color: $link-color;
$pagination-active-bg: $link-color;
$pagination-active-border-color: $link-hover-color;
$pagination-hover-color: $link-hover-color;

$dropdown-min-width: 20rem;

$grid-breakpoints: (
  xs:   0,
  sm:   576px,
  md:   670px,
  lg:   992px,
  xl:   1400px,
  xxl:  2000ox
) ;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm:   540px,
  md:   622px,
  lg:   960px,
  xl:   1140px,
  xxl:  1630px
) ;

@include _assert-ascending($container-max-widths, "$container-max-widths");

@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/print";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/code";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/pagination";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/custom-forms";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/dropdown";
@import "../../../node_modules/bootstrap/scss/input-group";
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/badge";
@import "../../../node_modules/bootstrap/scss/tables";

// Allt annað hér

body {
  min-height: 100vh;
}

h1 {
  font-weight: 600;
}

a {
  text-decoration: underline;
}

code{
  color: theme-color("darkgrey");
  font-weight: 700;
}

main {
  min-height: calc(100vh - 450px);
}

#search-results-from-older-editions {
  background-color: $white;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.25);

  td, th {
    font-size: 12px;
  }

  p {
    font-size: 14px;
    font-weight: 600;
  }
}

#mobile-menu {
  background-color: theme-color('darkgrey');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 1000;
  a {
    color: theme-color('lightgrey');
    text-decoration: underline;
  }
  strong {
    color: $white;
  }
  .nav-list {
    margin-top: 120px;
  }
  .sub-nav-list {
    margin-bottom: 1.2em;
  }
}

#mobile-menu-close-button {
  position: fixed;
  right: 30px;
  top: 30px;
}

#mobile-search-form {
  label {
    color: $white;
  }
}

.book-social-media-links {
  border-top: 2px solid theme-color('lightgrey');
  h2 {
    font-family: $montserrat;
    font-size: 14px;
    font-weight: 600;
  }
}

.page-container {
  background-color: $white;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  font-size: 14px;
}

.logo-list {
  .sponsor {
    max-width: 80px;
    width: calc(30% - 66px);
    margin: 33px 15px;
  }
  .sponsor:hover {
    transform: scale(1.05);
  }
}

.older-edition {
  width: 100%;
  justify-content: flex-end;

  .title {
    font-weight: $font-weight-bold;
    font-size: 14px;
    text-align: center;
  }
}

#books-index {
  .book-description {
    font-size: 14px;
  }
}

.book {
  hgroup {
    word-break: break-word;
  }

  .title {
    font-weight: $font-weight-bold;
    font-size: 1.2em;
  }
  .book-description {
    font-size: 14px;
  }
  ul li {
    font-size: 14px;
  }
  .pre-title, .post-title {
    font-size: 1rem;
    font-weight: normal;
    display: block;
  }
  .pre-title {
    margin-bottom: 8px;
  }

  .book-column-container {
    background-color: $white;
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
  }

  .book-authors, .book-meta-list {
    strong::after {
      content: ':'
    }
    a {
      font-weight: $font-weight-bold;
      padding: 3px 0;
    }
  }

  .book-meta-old-edition {
    font-weight: bold;
    font-size: 0.6em;
  }

  .content-column {
    padding-bottom: calc(40px + 1rem)
  }

  .more-button {
    position: absolute;
    bottom: 0;
    right: 1rem;
  }
}

.book-single {
  .title { font-weight: $font-weight-bold; font-size: 2.5em; }
  .pre-title, .post-title { font-size: 1.8rem; }

  .book-meta-list {
    margin-top: 3rem;
  }

  .blockquote-heading {
    font-size: 1.2rem;
    font-weight: bold;
  }

  blockquote {
    padding: 0.5em 2em;
    p {
      font-size: 1.2em;
      line-height: 1.2em;
      font-style: italic;
      font-family: $lora;
      &:first-child {
        text-indent: -0.45em;
      }
    }
  }
  blockquote.large p {
    font-size: 2.2em;
  }
  blockquote.extra_large p {
    font-size: 3.2em;
  }

  #book_audio_sample {
    h3 {
      font-family: $montserrat;
      font-weight: $font-weight-bold;
    }
    audio { width: 100%; }
  }

  #book-binding-types {
    font-size: 14px;
    a {
      font-weight: $font-weight-bold;
      padding: 3px 0;
    }
    h2 {
      font-family: $montserrat;
      font-weight: $font-weight-bold;
      font-size: 1em;
    }

   h3 {
      font-family: $montserrat;
      font-weight: $font-weight-bold;
      font-size: 14px;
    }
  }
}

.welcome-content {
  background-color: $white;
  height: 100%;
  h2 {
    font-weight: bold;
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  .hero-heading {
    font-size: 4.5em;
    font-weight: normal;
    line-height: 1em;
    margin-bottom: 0.12em;
  }
  .hero-nav-link {
    font-size: 14px;
  }
}

#current-edition-categories-heading {
  font-size: 2.5em;
}

.page {
  h1 {
    font-weight: $font-weight-bold;
  }
  h2 {
    font-size: 18px;
    font-weight: $font-weight-bold;
    margin-bottom: 0.5em;
  }
  table {
    font-size: 14px;
  }
  li {
    margin: 0.5em 0;
  }
}

.welcome-category-list li {
  line-height: 1.2em;
  margin-bottom: 14px;
  font-size: 14px;
}

.footer-container {
  background-color: $footer-bg;
  color: $white;
  font-size: 14px;
  h2, h3 {
    font-size: $font-size-lg;
    color: $white;
    font-weight: $font-weight-bold;
  }
  li {
    color: $white;
  }
  a {
    color: $body-bg;
    font-weight: $font-weight-bold;
  }  
}

.dropdown-toggle::after {
  margin-left: 1rem;
}

// Header
header {
  .site-logo {
    img {
      width: 220px;
      height: auto;
      min-height: 45px;
    }
  }
  #header-search-form {
    label {
      color: $body-bg;
      font-size: 14px;
    }
  }
  background-color: theme-color("primary");
  .nav-link {
    color: $header-link-color;
    font-size: 14px;
  }
  .nav-link:hover {
    color: $white;
    text-decoration: underline;
  }
  .dropdown-menu {
    .nav-link {
      color: $link-color;
    }
    .nav-link:hover {
      color: $link-hover-color;
      text-decoration: underline;
    }
  }
  .input-group {
    align-items: center;
    label {
      color: $header-link-color;
    }
  }
}

.pdf-download-link {
  font-size: $font-size-sm;
}

@include media-breakpoint-down(lg) {
  .welcome-content {
    .hero-heading {
      font-size: 3.8em;
    }
  }
  .book {
    .book-description {
      font-size: 0.7em;
    }
  }
  main.page {
    background-color: $white;
  }
  .page-container {
    border: none;
  }
}

@include media-breakpoint-down(md) {

}

@include media-breakpoint-down(sm) {
  .site-logo {
    width: 80%;
  }
  .logo-list .sponsor {
    max-width: 120px;
    width: calc(50% - 66px);
  }
  .book {
    .authors a, .book-authors a, .book-meta-list a, #book-binding-types a {
      padding: 14px 0;
      display: inline-block;
    }
    .book-author-group {
      padding: 14px 0;
      display: block;
    }
  }
  .footer-container a {
    padding: 14px 0;
    display: inline-block;
  }
  .welcome-content {
    .hero-heading {
      font-size: 3em;
    }
  }
  .welcome-category-list li {
    font-size: 1em
  }
}

@include media-breakpoint-down(xs) {
  header {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
  h1 {
    font-size: 1.2em;
  }
  .logo-list .sponsor {
    width: 20%;
  }
  .welcome-content {
    .hero-heading {
      font-size: 2em;
    }
  }
  .book-single {
    blockquote {
      p {
        font-size: 1em;
      }
    }
  }
}
