<p>Hæ <%= @resource.name.split(' ').first %>,</p>

<p>Einhver hefur beðið um vefslóð til að breyta lykilorðinu þínu að umsjónarkerfi Bókatíðinda.</p>

<p>Þú getur breytt lykilorðinu þínu með því að heimsækja eftirfarandi vefslóð:</p>

<p><%= link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Ef þú baðst ekki um að lykilorðinu þínu sé breytt skaltu einfaldlega hundsa þennan tölvupóst.</p>

<p>Lykilorðinu verður ekki breytt fyrr en þú opnar vefslóðina og breytir lykilorðinu þar.</p>

<%= render "devise/shared/footer" %>
