<footer class="footer-container">
  <div class="container py-5">

    <div class="row">

      <div class="col-12 col-md order-12">
        <h2>Bókatíðindi 2021</h2>
        <ul class="list-unstyled text-small">
          <li class="my-2"><strong>Félag Íslenskra Bókaútgefenda</strong></a></li>
          <li class="my-2">Barónstíg 5<br>101 Reykjavík</li>
          <li class="my-2">Sími: <a href="tel:5118020">511 8020</a></li>
          <li class="my-2"><a href="https://www.fibut.is">www.fibut.is</a></li>
        </ul>
      </div>

      <div class="col-6 col-md">
        <h3>Barnabækur</h3>
        <ul class="list-unstyled text-small ml-2">
          <li class="my-2"><a href="#">Barnabækur – myndskreyttar 0-6 ára</a></li>
          <li class="my-2"><a href="#">Barnabækur – skáldverk</a></li>
          <li class="my-2"><a href="#">Barnabækur – fræðibækur/handbækur</a></li>
          <li class="my-2"><a href="#">Ungmennabækur</a></li>
        </ul>
      </div>

      <div class="col-6 col-md">
        <h3>Skáldverk</h3>
        <ul class="list-unstyled text-small ml-2">
          <li class="my-2"><a href="#">Íslensk skáldverk</a></li>
          <li class="my-2"><a href="#">Þýdd skáldverk</a></li>
          <li class="my-2"><a href="#">Ljóð og leikrit</a></li>
          <li class="my-2"><a href="#">Fræðibækur</a></li>
        </ul>
      </div>

      <div class="col-6 col-md">
        <h3>Fræðibækur</h3>
        <ul class="list-unstyled text-small ml-2">
          <li class="my-2"><a href="#">Listir og ljósmyndir</a></li>
          <li class="my-2"><a href="#">Matur og hannyrðir</a></li>
          <li class="my-2"><a href="#">Saga, ættfræði og héraðslýsingar</a></li>
          <li class="my-2"><a href="#">Útivist, tómstundir og íþróttir</a></li>
        </ul>
      </div>

      <div class="col-6 col-md">
        <h3>Ævisögur</h3>
        <ul class="list-unstyled text-small ml-2">
          <li class="my-2"><a href="#">Ævisögur</a></li>
        </ul>
      </div>

    </div>

  </div>
</footer>
