<footer class="footer-container footer mt-auto mt-5">
  <div class="container-fluid">

    <div class="d-flex flex-column flex-md-row align-items-end row mt-5 mx-1 mb-3 mx-sm-2 mx-lg-5">

      <div class="d-flex justify-content-start justify-content-md-end col-12 col-md-6 order-1">
        <address class="adr text-lg-right">
          Félag íslenskra bókaútgefenda<br>
          <span class="street-address">Barónsstíg 5</span> -
          <span class="postal-code">101</span> <span class="locality">Reykjavík</span><br />
          Sími <a href="tel:5118020">511 8020</a> -
          <a rel="external" target="_blank" href="mailto:fibut@fibut.is">fibut@fibut.is</a>
        </address>
      </div>

      <nav class="d-flex align-items-start col-12 col-md-6 order-0">
        <ul class="list-unstyled">
          <li class="mt-2"><a href="/pages/um_bokatidindi">Um Bókatíðindi</a></li>
          <li class="mt-2"><a href="/argangar">Prentútgáfa</a></li>
          <li class="mt-2"><a href="/pages/open_data">Opin gögn</a></li>
          <li class="mt-2"><a href="/pages/privacy_policy">Köku- og friðhelgisstefna</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
