<footer class="footer-container mt-5">
  <div class="container-fluid">

    <div class="row mb-5 p-5 pt-2">

      <div class="col-12 col-md-6 order-1">
        <address class="adr text-lg-right">
          Félag íslenskra bókaútgefenda<br>
          <span class="street-address">Barónsstíg 5</span> -
          <span class="postal-code">101</span> <span class="locality">Reykjavík</span> -
          Sími <a href="tel:5118020">511 8020</a></li> -
          <a rel="external" target="_blank" href="mailto:fibut@fibut.is">fibut@fibut.is</a>
        </address>
      </div>

      <nav class="col-12 col-md-6 order-0">
        <ul class="list-unstyled">
          <li><a href="/pages/um_bokatidindi">Um Bókatíðindi</a></li>
          <li><a href="/pages/privacy_policy">Köku- og friðhelgisstefna</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
