<header class="row px-4 pb-3 pt-4 pt-sm-0 justify-content-between align-items-end">
  <nav class="site-logo order-2 col-9 col-xl-2 col-lg-3 col-md-4 col-sm-12 mt-4 mt-lg-0">
    <a href="<%= root_path %>" title="Fara á forsíðu Bókatíðinda">
      <%= image_tag 'logotype-cropped.svg', height: '105', width: '689', alt: 'Bókatíðindi', class: 'img-fluid ml-2' %>
    </a>
  </nav>

  <div class="col-1 d-sm-none">
    <button id="mobile-menu-button" class="btn btn-lg btn-lightgrey" title="Aðalvalmynd">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>
    </button>
  </div>

  <form
    id="header-search-form"
    class="order-3 col-lg-4 col-sm-12 mt-5"
    aria-label="Leit"
    method="get"
    action="/baekur"
    role="search"
  >
    <div class="input-group">
      <label
        for="header-search-field"
        class="mr-3 mt-1"
      >
        Leit
      </label>
      <input
        id="header-search-field"
        class="form-control form-control"
        aria-label="Leitarorð"
        type="search"
        name="search"
        placeholder="Leitarorð…"
        <% unless params[:search].nil? %>
        value="<%= params[:search] %>"
        <% end %>
        role="searchbox"
      >
      <input
        id="header-search-submit"
        type="submit"
        value="Leita"
        class="btn btn-lightgrey ml-2"
        disabled="true"
      />
    </div>
  </form>
  <script>
    search_field  = document.getElementById('header-search-field');
    search_submit = document.getElementById('header-search-submit');

    function conditionallyDisableSearchSubmit() {
      if (search_field.value == '') {
        return search_submit.disabled = true;
      }
      search_submit.disabled = false;
    }

    search_field.addEventListener('input', conditionallyDisableSearchSubmit);
  </script>
  <%= render 'layouts/navbar' %>
</header>