<div class="d-flex justify-content-between flex-column align-items-start align-items-lg-end flex-lg-row">
  <nav class="site-logo mb-4 mb-lg-0 d-flex">
    <button id="mobile-menu-button" class="d-sm-none btn btn-lg btn-lightgrey mr-4" title="Aðalvalmynd">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </button>
    <a class="mt-1 mt-md-0" href="<%= root_path %>" title="Fara á forsíðu Bókatíðinda">
      <%= image_tag 'logotype-cropped.svg', height: '105', width: '689', alt: 'Bókatíðindi', class: 'img-fluid' %>
    </a>
  </nav>

  <form
    id="header-search-form"
    class="d-none d-sm-block mb-3 mb-sm-3 mb-md-0"
    aria-label="Leit"
    method="get"
    action="/baekur"
    role="search"
  >
    <div class="input-group">
      <input
        id="header-search-field"
        class="form-control form-control-sm"
        aria-label="Leitarorð"
        type="search"
        name="search"
        <% unless params[:search].nil? %>
        value="<%= params[:search] %>"
        <% end %>
        role="searchbox"
      >
      <input
        id="header-search-submit"
        type="submit"
        value="Leita"
        class="btn btn-sm btn-lightgrey ml-2"
        disabled="true"
      />
    </div>
  </form>
  <script>
    search_field  = document.getElementById('header-search-field');
    search_submit = document.getElementById('header-search-submit');

    function conditionallyDisableSearchSubmit() {
      if (search_field.value == '') {
        return search_submit.disabled = true;
      }
      search_submit.disabled = false;
    }

    search_field.addEventListener('input', conditionallyDisableSearchSubmit);
  </script>

</div>

<%= render 'layouts/navbar' %>