<nav aria-label="Aðalvalmynd" class="navbar col-12 navbar-expand-md mt-3">
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a
        id="navbarBarnabaekurLink"
        class="nav-link dropdown-toggle"
        href="#"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
      >
        Barnabækur
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarBarnabaekurLink">
        <% Category.where(source_id: category_groups[:barnabaekur] ).order('rod').each do |c| %>
        <li class="nav-item">
          <%= link_to c.name, c.books_url, class: 'nav-link pl-3' %>
        </li>
        <% end %>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a
        id="navbarSkaldverkLink"
        class="nav-link dropdown-toggle"
        href="#"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
      >
        Skáldverk
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarSkaldverkLink">
        <% Category.where(source_id: category_groups[:skaldverk] ).order('rod').each do |c| %>
        <li class="nav-item">
          <%= link_to c.name, c.books_url, class: 'nav-link pl-3' %>
        </li>
        <% end %>
      </ul>
    </li>
    <li class="nav-item">
      <a
        id="navbarFraedikLink"
        class="nav-link dropdown-toggle"
        href="#"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
      >
        Fræðibækur
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarFraedikLink">
        <% Category.where(source_id: category_groups[:fraedibaekur] ).order('rod').each do |c| %>
        <li class="nav-item">
          <%= link_to c.name, c.books_url, class: 'nav-link pl-3' %>
        </li>
        <% end %>
      </ul>
    </li>
    <li class="nav-item">
      <%= link_to 'Ævisögur', "/baekur/?category=aevisogur", class: 'nav-link' %>
    </li>
  </ul>
</nav>
