<nav
  aria-label="Aðalvalmynd"
  class="d-none d-sm-flex flex-column flex-lg-row justify-content-between align-items-start navbar navbar-expand-md px-0 pb-3"
>
  <ul class="navbar-nav">
    <% Category.groups.each do |category_group| %>
    <li class="nav-item dropdown"><a
        id="navbar-<%= category_group.first %>-link"
        class="nav-link dropdown-toggle mr-4"
        href="#"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
      ><%= I18n.t("activerecord.attributes.category.groups.#{category_group[0]}") %></a>
      <ul class="dropdown-menu" aria-labelledby="navbar-<%= category_group.first %>-link">
        <%
        Category.where(group: category_group[1]).order('rod').each do |c|
        next if c.book_count_web.zero?
        %>
        <li class="nav-item"><%= link_to c.name, category_path(c.slug), class: 'nav-link pl-3' %></li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
</nav>

