<nav aria-label="Aðalvalmynd" class="navbar order-4 d-none d-sm-block col-12 navbar-expand-md mt-3">
  <ul class="navbar-nav">
    <% Category.groups.each do |category_group| %>
    <li class="nav-item dropdown">
      <a
        id="navbarBarnabaekurLink"
        class="nav-link dropdown-toggle"
        href="#"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
      >
        <%= I18n.t("activerecord.attributes.category.groups.#{category_group[0]}") %>
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarBarnabaekurLink">
        <%
        Category.where(group: category_group[1]).order('rod').each do |c|
        next if c.book_count.zero?
        %>
        <li class="nav-item">
          <%= link_to c.name, category_path(c.slug), class: 'nav-link pl-3' %>
        </li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
</nav>

<nav id="mobile-menu" aria-label="Aðalvalmynd" class="d-none">
  <button id="mobile-menu-close-button" class="btn btn-lightgrey" aria-label="Loka valmynd">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
      <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
    </svg>
  </button>
  <ul class="nav-list list-unstyled mx-5">
    <% Category.groups.each do |category_group| %>
    <li>
      <strong><%= I18n.t("activerecord.attributes.category.groups.#{category_group[0]}") %></strong>
      <ul class="sub-nav-list list-unstyled mb-5">
        <%
        Category.where(group: category_group[1]).order('rod').each do |c|
        next if c.book_count.zero?
        %>
        <li class="my-3">
          <%= link_to c.name, category_path(c.slug) %>
        </li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
</nav>
