<nav class="navbar col-12 navbar-expand-md mt-3">
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a
        id="navbarBarnabaekurLink"
        class="nav-link dropdown-toggle"
        href="#"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
      >
        Barnabækur
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarBarnabaekurLink">
        <li class="nav-item">
          <a class="nav-link pl-3" href="#">Myndskreyttar 0-6 ára</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-3" href="#">Skáldverk</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-3" href="#">Fræðibækur / Handbækur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-3" href="#">Ungmennabækur</a>
        </li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a
        id="navbarSkaldverkLink"
        class="nav-link dropdown-toggle"
        href="#"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
      >
        Skáldverk
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarSkaldverkLink">
        <li class="nav-item">
          <a class="nav-link pl-3" href="#">Íslensk skáldverk</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-3" href="#">Þýdd skáldverk</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-3" href="#">Ljóð og leikrit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-3" href="#">Fræðibækur</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a
        id="navbarFraedikLink"
        class="nav-link dropdown-toggle"
        href="#"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
      >
        Fræðibækur
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarFraedikLink">
        <li class="nav-item">
          <a class="nav-link pl-3" href="#">Listir og ljósmyndir</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-3" href="#">Matur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-3" href="#">Saga, ættfræði og héraðslýsingar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-3" href="#">Hannyrðir, íþróttir og útivist</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Ævisögur</a>
    </li>
  </ul>
</nav>